* {
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

h2, p{
    margin: 10px;
    text-align: center;
}

h2{
    transition: all 0.3s;
    cursor: pointer;
}
.container{
    align-self: center;
    box-sizing: border-box;
    border: solid 2px rgb(54, 54, 54);
    border-radius: 5px;
    padding: 5%;
    box-shadow: 8px 8px rgb(182, 182, 182);
}

.botones{
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
    transition: background-color 0.3s, height 0.6s;
    cursor: pointer;
}

button span {
    font-weight: bold;
}

button:hover{
    background-color: rgba(105, 105, 105, 0.747);
    height: 40px;
}

h2:hover{
    font-size: 28px;
}